/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    /* background: #2D353B; */
    /* background: rgba(0, 0, 0, 0.4); */
    background-image: linear-gradient(rgb(31, 47, 134) 0px, rgb(49, 101, 196) 3%, rgb(54, 130, 229) 6%, rgb(68, 144, 230) 10%, rgb(56, 131, 229) 12%, rgb(43, 113, 224) 15%, rgb(38, 99, 218) 18%, rgb(35, 91, 214) 20%, rgb(34, 88, 213) 23%, rgb(33, 87, 214) 38%, rgb(36, 93, 219) 54%, rgb(37, 98, 223) 86%, rgb(36, 95, 220) 89%, rgb(33, 88, 212) 92%, rgb(29, 78, 192) 95%, rgb(25, 65, 165) 98%);
    color: white;
    /* font-family: Cantarell, Noto Sans, sans-serif; */
    /* font-family: Windows XP Tahoma, Cascadia Code PL; */
    font-family: Cascadia Code PL;
    /* font-size: 16pt; */
    font-size: 13pt;
}

/* Each module */
#battery,
#backlight,
#clock,
#cpu,
#custom-keyboard-layout,
#custom-weather,
#custom-power-menu,
#custom-keyboard-toggle,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 12px;
    padding-right: 12px;
    background-image: linear-gradient(rgb(12,89,185) 1%,rgb(19,158,233) 6%,rgb(24,181,242) 10%,rgb(19,155,235) 14%,rgb(18,144,232) 19%,rgb(13,141,234) 63%,rgb(13,159,241) 81%,rgb(15,158,237) 88%,rgb(17,155,233) 91%,rgb(19,146,226) 94%,rgb(19,126,215) 97%,rgb(9,91,201) 100%)
}

#custom-conservation {
    padding-right: 10px;
}

#custom-keyboard-toggle {
    border-left: 1px solid rgb(16,66,175);
    box-shadow: #18bbff 1px 0 1px inset;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    /* font-weight: bold; */
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    /* font-weight: bold; */
    padding-left: 10px;
    background: rgb(30, 82, 183);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.7) 1px 0px 1px inset;
    border-radius: 4px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 4px 2px 4px 2px;
}

#workspaces button {
    /* border-top: 2px solid transparent; */
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 4px 2px 4px 2px;
    color: #ffffff;
    background: rgb(60, 129, 243);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) -1px 0px inset, rgba(255, 255, 255, 0.2) 1px 1px 1px inset;
}

#workspaces button.focused {
    /* border-color: #A7C080; */
    /* color: white; */
    /* color: #A7C080; */
    background: rgb(30, 82, 183);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px 1px inset, rgba(0, 0, 0, 0.7) 1px 0px 1px inset;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#workspaces button:hover {
    background: rgb(130, 177, 247);
    transition: none; /* Disable predefined animations */
}

/*
window#waybar>box {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}
*/

#custom-wofi-touch {
    background-image: url("start_btn.png");
    /* padding-right: 85px; */
    padding-right: 95px;
    color: rgba(0, 0, 0, 0);
}
